body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background-image: url("Images/fusion-background.jpg");
  background-size: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 433px;
  background-color: #a25a42;
  border: solid #323953;
  border-width: 8px 9px 10px;
  padding: 8px 6px 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.4);
}

.header {
  flex: 0.5;
  background-color: #a25a42;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
  border: 3px solid;
  border-color: #bc8e77 #55281d #4f1905 #c0947b;
}

.name {
  font-size: 1.43em;
  font-weight: bold;
  font-variant: small-caps;
}

.attribute {
  width: 30px;
  height: 30px;
}

.level {
  display: flex;
  flex-direction: row-reverse;
  gap: 2px;
  padding-right: 16px;
  margin-top: 2px;
}

.level img {
  width: 19px;
  height: 18px;
}

.artwork {
  flex: 7;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 6px;
  padding: 5px;
}

.artwork img {
  max-width: 100%;
  max-height: 100%;
  border: 5px solid;
  border-color: #858394 #4d4d64 #4f5165 #757286;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.8);
}

.details {
  flex: 2.4;
  display: flex;
  flex-direction: column;
  border: 3.5px solid #a24a3e;
  border-radius: 5px;
  background-color: #d7b9ad;
  padding: 1px 4px 0px;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.6);
}

.type {
  flex: 1;
  font-size: 0.73em;
  font-weight: bold;
  font-variant: small-caps;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.lore {
  flex: 4;
  font-size: 0.53em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.stats {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-top: 1px black solid;
  font-weight: bold;
  font-size: 0.76em;
}